.projects{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .projects h2{
    align-self: flex-start;
    justify-self: flex-start;
    /* height: 100%; */
    position:absolute;
    top:30px;
    font-size: 25px;
    border-bottom: 3px solid;
  }
  
  /* Project Card Container */
  .project-card-container{
    width:270px;
    height:320px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    box-shadow: var(--neumorphism-shadow);
  }
  .project-card-container .project-card-info{
    padding:10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .project-card-info .project-name{
    font-size: 18px;
    font-weight: 800;
  }
  .project-description{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:5px 0px;
    gap:10px;
  }
  .project-card-container .project-btns{
    display: flex;
    justify-content: space-between;
  }
  .project-source , .project-view{
    border: 1px solid;
    padding: 1px 3px;
    border-radius: 5px;;
  }
  .project-btns .project-source a, .project-btns .project-view a{
    font-size: 14px;
    text-decoration: none;
  }
  .project-btns [class ^= "fa"]{
    margin: 5px;
  }
  
  