#contact{
    display: flex;
    justify-content: center;
    align-items: center;

}
.contact-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact-content h2{
    font-size: 50px;
    text-decoration: underline;
    font-weight: 900;
    margin-bottom: 20px;
    align-self: center;
}
.contact-content .form-section{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.form-section img{
    width: 70%;
    margin-left: -60px;
}
#contact form{
    display: flex;
    flex-direction: column;
    width:40%;
}

#contact form input, #contact form textarea{
    border-radius: 5px;
    background: #dddedf;
    box-shadow: inset -8px 8px 16px #c9cacb,
            inset 8px -8px 16px #f1f2f3;
    outline: none;
    padding:10px 15px;
    margin: 15px;
    font-size: 15px;
    max-width: 100%;
    min-width: 100%;
    border: 2px solid;
}

#contact form input[type='submit']{
    align-self: center;
    padding: 10px 35px;
    font-size: 16px;
    font-weight: 800;
    color:whitesmoke;
    background-color: #34495e;
    min-width: fit-content;
    width: fit-content;
    box-shadow: var(--neumorphism-shadow);
    cursor: pointer;
}
#sent_msg{
    margin-left: 20px;
    font-weight: 700;
    color:green;
    position: relative;
}
#sent_msg img{
    position:absolute;
    top:-40px;
    left:20px;
}